@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
 
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

#container {
    max-width: 960px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    margin: 2rem;
    overflow: hidden;
}

.card {
    padding: 40px;
}

.card h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 30px;
    margin-top: 10px;
}

.card p {
    line-height: 1.6;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 20px;
}

.card-1 {
    background: hsl(31, 77%, 52%);
}

.card-2 {
    background: hsl(184, 100%, 22%);
}

.card-3 {
    background: hsl(179, 100%, 13%);
}

button {
    background: hsl(0, 0%, 95%);
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 95%);
    display: inline-block;
    margin-top: 60px;
    transition: all 300ms ease-in-out;
}

.btn1 {
    color: hsl(31, 77%, 52%);
}

.btn2 {
    color: hsl(184, 100%, 22%);
}

.btn3 {
    color: hsl(179, 100%, 13%);
}

.btn1:hover {
    background: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.btn2:hover {
    background: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.btn3:hover {
    background: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .wrapper {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 425px){
    .wrapper {
        margin: 2rem .5rem;
    }
}